    div.caja{
    margin-left: 5em;
    width: 50%;
}

ul li{
    list-style-type: none;
    padding: 1em;
}

#titulo{
    margin-left: 15%;
    font-size: 1.5em;
}

#InputTitulo{
    margin-left: 15%;
    margin-top: 1%;
    width: 23em;
}

#estado{
    margin-left: 15%;
    font-size: 1.5em;
}

#InputEstado{
    margin-left: 15%;
    margin-top: 1%;
    width: 15em;
}

#descripcion{
    margin-left: 15%;
    font-size: 1.5em;
}

#InputDescripcion{
    margin-left: 15%;
    margin-top: 1%;
    width: 23em;
    height: 4em;
}

div.boton{
    width: 350px;
    margin-left: 38%;
    margin-top: 10px;
}

button{
    padding: 0.4em;
    width: 7em;
    margin-left: -3em;
}