<div class="CajaMayor">
    <div>
        <div class="separacion">
            <li *ngFor="let item of ListaNotas">
                <div class="notas1" *ngIf="item.estado==1" >
                    <div>
                    {{item.titulo}}<br>
                    {{item.descripcion}}
                    </div>
                    <div class="eliminar">X</div>
                </div>
            </li>
        </div>

        <div class="separacion">
            <li *ngFor="let item of ListaNotas">
                <div class="notas2" *ngIf="item.estado==2">
                    <div [routerLink]="['/']" routerLinkActive="router-link-active">
                    {{item.titulo}}<br>
                    {{item.descripcion}}
                    </div>
                    <div class="eliminar">X</div>
                </div>
            </li>
        </div>
        
        <div class="separacion">
            <li *ngFor="let item of ListaNotas">
                <div class="notas3" *ngIf="item.estado==3">
                    <div [routerLink]="['/']" routerLinkActive="router-link-active">
                    {{item.titulo}}<br>
                    {{item.descripcion}}
                    </div>
                    <div class="eliminar">X</div>
                </div>
            </li>
        </div>

    </div><br>

    <div class="mensaje">Al dar click sobre las tareas iniciadas o terminadas se podran modificar</div>   
</div>

<footer>
    <a [routerLink]="['/']" routerLinkActive="router-link-active"><button type="submit">+ Adicionar</button></a>
</footer>
